@import "tailwindcss";

@font-face {
    font-family: "Product Sans";
    font-style: normal;
    src: url(./fonts/Product-Sans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Product Sans Display-Medium";
    font-style: normal;
    src: url(./fonts/Product-Sans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Product Sans Display-Italic";
    font-style: normal;
    src: url(./fonts/Product-Sans-Italic.ttf) format("truetype");
}

@font-face {
    font-family: "Product Sans Display-Bold";
    font-style: normal;
    src: url(./fonts/Product-Sans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Product Sans Display-Bold-Italic";
    font-style: normal;
    src: url(./fonts/Product-Sans-Bold-Italic.ttf) format("truetype");
}

/* Special functionalities */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    background-color: #efefef;
}

/* AuthLayout.css */
.main-container {
    display: flex;
    flex: 2;
    flex-direction: row;
    height: 100vh;
}

.page-container {
    width: 50%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.auth-layout {
    width: 50%;
    flex: 1;
    padding: 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center; /* Add this line */
}

@media (max-width: 999px) {
    .main-container {
        flex-direction: raw;
        align-items: center;
    }

    .page-container,
    .auth-layout {
        width: 100%;
    }

    .auth-layout {
        display: none;
    }
}
